.Parent {
    padding: 20px;
    background-color: rgb(88, 201, 201);
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    
}
.class {
    border: 5px solid cornflowerblue;
    padding: 20px;
    font-size: 30px;
    background-color: aquamarine;

}